.grandparent {
  position: relative;
  width: 50vw;
  height: 50vw;
  padding: 10px;
  position: relative;
  background-color: dimgray;
}
.parent {
  width: 30vw;
  height: 20vw;
  margin: 30px 10px;
  background-color: lightsteelblue;
  /* 为什么要给边框 */
  border:thin solid lightsteelblue;
  position: relative;
}
.child {
  width: 10vw;
  height: 5vw;
  margin: 5px;
  padding: 5px;
  background-color:navy;
  color: white;
}
.move {
  position: relative;
  top: -20px;
  left: 20px;
}
.move {
  position: absolute;
  top: -20px;
  left: 20px;
}
.coupon { 
	position: fixed; 
	top: 350px; 
	left: -210px; /* 初始位置在左侧 */ 
	transition: left 0.5s ease; /* 添加过渡效果 */
}

.coupon:hover {
	left: 0px; /* 悬停时移动到 0px 的位置 */
}